<!DOCTYPE>
<html ng-app>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <title>Notes</title>
</head>
<body>
    <div class="container" ng-controller="AppCtrl">
        <h1>Notes</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Note</th>
                    <th>Action</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" ng-model="note.name"></td>
                    <td><input class="form-control" ng-model="note.notes"></td>
                    <td><button class="btn btn-primary" ng-click="addNote()">Add Note</button></td>
                    <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()"> Clear</button></td>
                </tr>
                <tr ng-repeat="note in notelist">
                    <td>{{note.name}}</td>
                    <td>{{note.notes}}</td>
                    <td><button class="btn btn-danger" ng-click="remove(note._id)">Remove</button></td>
                    <td><button class="btn btn-warning" ng-click="edit(note._id)">Edit</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
</body>


</html>